body {
  background-image: linear-gradient(#E1E2F4, #C2B8E9);
}

.bg-sidebar {
  background-image: linear-gradient(#C2B8E9, #9CC9F3);
}

.fa-2x {
  font-size: 2rem;
}
.fa-color {
  color: Dodgerblue;
}

.shadow {
    -webkit-box-shadow: 0 2px 5px 2px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 5px 2px rgba(0,0,0,0.3);
    box-shadow: 0 2px 5px 2px rgba(0,0,0,0.3);
}
.rounded {
  border-radius: 8px !important;
}
.p-home-btn {
  padding-top: 2.3rem;
  padding-bottom: 2.3rem;
}

.partner {
	height: 80px;
	width: 120px;
}

select.form-control option{
	background-color: rgb(248, 248, 248);
}

.home-link {
  text-decoration: underline;
  color: rgb(49, 49, 49);
}

.map-border {
  border: 3px solid black;
}
.contact-form-border {
  border: 4px solid #5380EA;
}
input.form-control, textarea.form-control {
  background-color: rgb(255, 255, 255);
}
.px-10 {
  padding-right: 6rem !important;
  padding-left: 6rem !important;
}

.btn-active {
    background-color: #C4B8E8;
    border-color: #C4B8E8;
}

.btn-n1 {
  background-color: #B7E9E8;
}

.btn-n2 {
  background-color: #D8E8B9;
}