body {
  background-image: linear-gradient(#e1e2f4, #c2b8e9);

}

.bg-sidebar {
  background-image: linear-gradient(#c2b8e9, #9cc9f3);
}

.fa-2x {
  font-size: 2rem;
}
.fa-color {
  color: Dodgerblue;
}

.shadow {
  -webkit-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.3);
}
.rounded {
  border-radius: 8px !important;
}
.p-home-btn {
  padding-top: 2.3rem;
  padding-bottom: 2.3rem;
}

.partner {
  height: 100px;
  width: auto;
}

select.form-control option {
  background-color: rgb(248, 248, 248);
}

.home-link {
  text-decoration: none;
  color: rgb(49, 49, 49);
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 12px;

}

.map-border {
  border: 1px solid black;
  position: relative;

}

.contact-form-border {
  border: 4px solid #5380ea;
}
input.form-control,
textarea.form-control {
  background-color: rgb(255, 255, 255);
}
.px-10 {
  padding-right: 6rem !important;
  padding-left: 6rem !important;
}

.btn-active {
  background-color: #c4b8e8;
  border-color: #c4b8e8;
}

.btn-n1 {
  background-color: #b7e9e8;
}

.btn-n2 {
  background-color: #d8e8b9;
}
.footer{
  margin-top: 18px;
}

.index-pg>.col-sm-3 {
  max-width: 20% !important;
}

.index-pg>.col-sm-9 {
  max-width: 80% !important;
  min-width: 80%;
}
.hot{
  height: 100px;
  width:auto !important;
  margin-left:12px
}

/* .legend label,
.legend span {
  display:block;
  float:left;
  height:15px;
  width:20%;
  text-align:center;
  font-size:9px;
  color:#808080;
  } */

  
  body { margin:0; padding:0; }
  #map { position:absolute; top:0px; bottom:0px; right:0% ; left:0%;}

  .mapboxgl-ctrl-top-right {
    top: 0;
    left: 3px !important;
  right: initial !important;
}


  .legend {
    background-color: #fff;
    border-radius: 3px;
    bottom: 15px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.10);
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 10px;
    position: absolute;
    right: 2px;
    z-index: 1;
    }
     
    .legend h4 {
    margin: 0 0 10px;
    }
     
    .legend div span {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    margin-right: 5px;
    width: 10px;
    }

    .info{
      box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
      -webkit-transition: all 0.2s cubic-bezier(0.3, 0.6, 0.2, 1.8);
      transition: all 0.2s cubic-bezier(0.3, 0.6, 0.2, 1.8);
      margin-bottom:10px;
      padding:20px;
    }


    .mapboxgl-popup {
      max-width: 400px;
      font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
      }

      
